<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Tytuł</th>
      <th>Wartość</th>
      <th>Data</th>
      <th>Opis</th>
      <th>Format Własny</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
       <!-- Formatowanie liczby do 2 miejsc po przecinku -->
      <td>{{ item.value | number:'1.2-2' }}</td>
       <!-- Formatowanie daty (dzień.miesiąc.rok) -->
      <td>{{ item.date | date:'dd.MM.yyyy' }}</td>
      <td>{{ item.description }}</td>
      <!-- Własny pipe z parametrem zależnym od parzystości ID -->
      <td>{{ item | formatItem:(item.id % 2 === 0) }}</td>
    </tr>
  </tbody>
</table>